DTDVorlesungsplanAufgabe1.1_b.dtd

<!DOCTYPE vorlesungsplan [
        <!ELEMENT vorlesungsplan (semester+)>
        <!ELEMENT semester (fach+)>
        <!ELEMENT fach (titel, dozent, raum, datum, zeit)>
        <!ELEMENT titel (#PCDATA)>
        <!ELEMENT dozent (#PCDATA)>
        <!ELEMENT raum (#PCDATA)>
        <!ELEMENT zeit (#PCDATA)>
        ]>
